/* body{
    width:1850px;
} */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; 
    width: 300px;
    text-align: center;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
.words{
    color: white;
    width: 300px;
    background-color: black;
    padding: 60px;
    position: absolute;
    height: 980px;
    text-align: center;
    border-radius: 5px;
}
.medium{
    padding:50px;
    background-color: turquoise;
    margin:5px;
    height: 50px;
    width: 50px;
    position: relative;
}
.gallery img{
    transition:1s;
    width: 325px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.gallery img:hover {
    /* filter:grayscale(100%); */
    transform: scale(1.1);
}
.gallery {
    position: relative;
    left: 297px;
    /* border: 3px solid #73AD21; */
    /* width: 655px; */
    background-color: black;
  }
  .pictures {
    max-width: 1022px;
    
    
  }

  .pic {
    /* position: absolute; */
  }